{% extends 'base.html' %}

{% block title %}CVE Parser{% endblock %}

{% block content %}
<div class="index-container">
    <h1>CVE Report Generator</h1>
    <form method="post" class="cve-form">
        <label for="cve_id">Enter CVE ID:</label>
        <input type="text" id="cve_id" name="cve_id" placeholder="E.g. CVE-2017-0144" required>
        <button type="submit">Check</button>
    </form>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="flash {{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
